<?xml version='1.0'?>

<launch>
    <arg name="atm_pressure_arg" value="14.7251"/>
    <arg name="depth_offset_arg" value="0"/>

    <include file="$(find zeabus_elec_ros)/launch/elec_launch.launch"
            pass_all_args="true"/>

    <include file="$(find zeabus_model)/launch/zeabus_model.launch"/>

</launch>
